.chat {
    width: 270px;
    height: 624px;
    border: 1px solid grey;
    background: #efefee;
    padding: 2%;
    left: 0px;
    top: 0px;
    position: absolute;
}

.chat-header {
    text-align: center;
    background: #01bcc6;
    left: 0px;
    top: 0px;
    right: 0px;
    position: absolute;
    color: white;
}

.content-discussion {
    overflow-y: scroll;
    align-content: flex-end;
    position: absolute;
    text-align: left;
    color: #005b7c;
    left: 0px;
    top: 50px;
    right: 0px;
    bottom: 56px;
}

.chat-write {
    position: absolute;
    background: #01bcc6;
    left: 0px;
    height: 55px;
    right: 0px;
    bottom: 0px;
}

li {
    list-style-type: none;
}

.chat-first {
    text-align: center;
}

#send-message {
    padding: 10px;
    margin: 7px;
    color: #008eab;
}

#message-writer {
    width: 186px;
    height: 20px;
    margin: 7px;
}

.chat-messages {
    flex-direction: column-reverse;
    vertical-align: bottom;
    white-space: pre-line;
    word-wrap: break-word;
}