.point {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
}

.spot1 {
    background: red;
    left: 10px;
    top: 10px;
    -moz-box-shadow:2px 2px 8px red;
    -webkit-box-shadow:2px 2px 8px red;
    box-shadow:2px 2px 8px red;
}

.spot2 {
    background: blue;
    right: 10px;
    top: 10px;
    -moz-box-shadow:2px 2px 8px blue;
    -webkit-box-shadow:2px 2px 8px blue;
    box-shadow:2px 2px 8px blue;
}

.spot3 {
    background: #30ff30;
    left: 36px;
    top: 38px;
    -moz-box-shadow:2px 2px 8px #30ff30;
    -webkit-box-shadow:2px 2px 8px #30ff30;
    box-shadow:2px 2px 8px #30ff30;
}

.spot4 {
    background: yellow;
    left: 10px;
    bottom: 10px;
    -moz-box-shadow:2px 2px 8px yellow;
    -webkit-box-shadow:2px 2px 8px yellow;
    box-shadow:2px 2px 8px yellow;
}

.spot5 {
    background: #00e4ff;
    right: 10px;
    bottom: 10px;
    -moz-box-shadow:2px 2px 8px #00e4ff;
    -webkit-box-shadow:2px 2px 8px #00e4ff;
    box-shadow:2px 2px 8px #00e4ff;
}
#map {
    position: absolute;
    top: 160px;
    left: 340px;
    width: 700px;
    height: 470px;
    opacity: 0.85;
}

.field {
    position: absolute;
    top: 180px;
    left: 360px;
    width: 664px;
    height: 430px;
}

.part {
    position: absolute;
    width: 81px;
    height: 84px;
    border: 1px solid black;
    cursor: pointer;
}

.pp1 {
    left: 0px;
}
.pp2 {
    left: 83px;
}
.pp3 {
    left: 166px;
}
.pp4 {
    left: 249px;
}
.pp5 {
    left: 332px;
}
.pp6 {
    left: 415px;
}
.pp7 {
    left: 498px;
}
.pp8 {
    left: 581px;
}
.p1 {
    top: 0px;
}
.p2 {
    top: 86px;
}
.p3 {
    top: 172px;
}
.p4 {
    top: 258px;
}
.p5 {
    top: 344px;
}