p {
    overflow: hidden;
}

.photos {
    position: absolute;
    left: 340px;
    top: 0px;
    width: 700px;
    height: 175px;
}

.description {
    text-align: center;
    font-size: 10px;
}

.photobox {
    position: absolute;
    top: 0px;
    width: 100px;
    height: 175px;
    photoboxAnimationDuration: .5s;
}

.photobox__previewbox {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.photobox__preview{
    width: 100px;
    height: 100px;
    background-size: cover;
}

.photobox__previewbox:before{
    content: "";
}

/* Появление кнопки для смены изображения */

.photobox .photobox__previewbox:before {
    width: 100%;
    height: 100%;

    opacity: 0;
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    clip-path: polygon(50% 10%, 15% 90%, 85% 90%);

    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform calc(var(--photoboxAnimationDuration, .4s) / 2) ease-out,   opacity calc(var(--photoboxAnimationDuration, .4s) / 2) ease-out;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
}

.photobox:hover .photobox__previewbox:before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(7);
    transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2), 0s;
    transition-duration: var(--photoboxAnimationDuration, .4s);
}

.photobox .photobox__label{
    width: 95%;
    text-align: center;

    font-size: 230%;

    opacity: 0;
    transition: opacity calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity, transform;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    z-index: 3;
}

.photobox:hover .photobox__label, .photobox:hover .level-label{
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-duration: var(--photoboxAnimationDuration, .4s);
    transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2);
}

@media screen and (max-width: 480px){
    .photobox{
        width: 100%;
    }
}

.shadow-form {
    width:100%;
    height:100%;
    position:absolute;
    background:rgba(32, 7, 114, 0.4);
    z-index:50;
}

#user1 {
    left: 0px;
    --photoboxOverlay: rgba(0, 0, 0, .3);
}
#user2 {
    left: 120px;
    --photoboxOverlay: rgba(255, 0, 0, .3);
}
#user3 {
    left: 240px;
    --photoboxOverlay: rgba(0, 0, 255, .3);
}
#user4 {
    left: 360px;
    --photoboxOverlay: rgba(30, 255, 30, .3);
}
#user5 {
    left: 480px;
    --photoboxOverlay: rgba(255, 255, 0, .3);
}
#user6 {
    left: 600px;
    --photoboxOverlay: rgba(0, 228, 255, .3);
}

#photobox1 {
    -moz-box-shadow:4px 4px 20px #000000;
    -webkit-box-shadow:4px 4px 20px #000000;
    box-shadow:4px 4px 20px #000000;
}

#photobox2 {
    -moz-box-shadow:4px 4px 20px red;
    -webkit-box-shadow:4px 4px 20px red;
    box-shadow:4px 4px 20px red;
}

#photobox3 {
    -moz-box-shadow:4px 4px 20px blue;
    -webkit-box-shadow:4px 4px 20px blue;
    box-shadow:4px 4px 20px blue;
}

#photobox4 {
    -moz-box-shadow:4px 4px 20px #30ff30;
    -webkit-box-shadow:4px 4px 20px #30ff30;
    box-shadow:4px 4px 20px #30ff30;
}

#photobox5 {
    -moz-box-shadow:2px 2px 20px #ffff00;
    -webkit-box-shadow:2px 2px 20px yellow;
    box-shadow:2px 2px 20px yellow;
}

#photobox6 {
    -moz-box-shadow:4px 4px 20px #00e4ff;
    -webkit-box-shadow:4px 4px 20px #00e4ff;
    box-shadow:4px 4px 20px #00e4ff;
}