p {
    overflow: hidden;
}

.photos {
    position: absolute;
    left: 340px;
    top: 80px;
    width: 700px;
    height: 175px;
}

.description {
    text-align: center;
    font-size: 10px;
}

.photoDiv {
    position: absolute;
    top: 0px;
    width: 100px;
    height: 175px;
}

#user1 {
    left: 0px;
}
#user2 {
    left: 120px;
}
#user3 {
    left: 240px;
}
#user4 {
    left: 360px;
}
#user5 {
    left: 480px;
}
#user6 {
    left: 600px;
}