#shop {
    position: absolute;
    top: 520px;
    left: 20px;
    height: 100px;
    width: 100px;
}

#shop_ico {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
}

#magic_random {
    display: grid;
    cursor: pointer;
    position: absolute;
    top: 520px;
    left: 160px;
    height: 100px;
    width: 100px;
}

#magic_ico {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    opacity: .65;
}

#magic_gif {
    opacity: .9;
    width: 94px;
    height: 94px;
    left: 3px;
    position: absolute;
    top: 3px;
}

.clicked_gif {
    animation: more_colored 3s linear;
}

@keyframes more_colored {
    0% {
        opacity: .9;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .9;
    }
}

.clicked_magic {
    animation: less_colored 3s linear;
}

@keyframes less_colored {
    0% {
        opacity: .65;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: .65;
    }
}

.clicked_number {
    animation: less_visible 3s linear;
}

@keyframes less_visible {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#magic_number {
    justify-self: center;
    align-self: center;
    z-index: 1;
    cursor: pointer;
    pointer-events: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.single_number {
    left: 39px;
}

.double_number {
    left: 32px;
}

.end_game_button {
    position: absolute;
    top: 525px;
    border-radius: 100px;
    padding: 30px 8px;
    background: linear-gradient(#F3400F, #b33010) #a02016;
    border-color: #FD3033 #000 #D73006;
    color: white;
    transition: 0.4s;
    border-width: 5px 1px;
}

#exit_door {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.add_button {
    color: white;
    padding: 0px 8px;
    display: inline-block;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #30EA33 #000 #20A206;
    border-radius: 15px;
    background: linear-gradient(#70F07F, #53C040) #20A016;
    transition: 0.2s;
}

#shop_div {
    width: 1200px;
    height: 600px;
    text-align: center;
    overflow-y: scroll;
    padding: 15px;
    border: 3px solid #5383d3;
    border-radius: 10px;
    color: #5383d3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #efefee;
}

/*
#magic_number {
justify-self: center;
align-self: center;
z-index: 1;
cursor: pointer;
pointer-events: none;
border-radius: 100%;
background: radial-gradient(ellipse at top, black, transparent), radial-gradient(ellipse at bottom, white, transparent);
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
}*/